@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p><img src="~/images/openplay.png" /></p>
<p>
    OpenPlay is a forum based website, with details about sports events held across Singapore. Meet like-minded people and connect with them playing your favourite sports! Join us today!
</p>

<strong>If you would like to submit an event to us, please send us an email at <a href="openplay2017@yahoo.com">OpenPlay2017@yahoo.com</a></strong>