@model WebApplication2.Models.Profile

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>
<body>
    <h2>My Profile</h2>
    {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"@Model.DisplayName - @Model.Gender></h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    @Model.BirthDate
                    @Model.Description)
                </div>
                <div class="col-md-4">
                    <img src="~/uploads/@Model.Id/@Model.ProfilePicture" class="profileFormat" />
                </div>
            </div>
        </div>
    }

</body>
</html>
