@{ 
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Badminton.</h3>
        <h4>Are you ready to join the league of legends?</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">Sign Up Now!</a>
    </div>
</body>
</html>



