@model PartyInvites.Models.BadmintonResponse
@{ 
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <p>
        <h1>Thank you @Model.Name!</h1>
        @if (Model.WillAttend == true)
        {
            @:Thanks for your interest! Hope to see you there!
            }
        else
        {
            @:You can always sign up from the main menu if you're interested!
        }
    </p>
    <a class="btn btn-primary" href="@Url.Action("ListResponses","Badminton")">Who's Coming</a>
    <a class="btn btn-primary" href="@Url.Action("Index","Home")">Home Page</a>
</body>
</html>

