@model PartyInvites.Models.TableTennisResponse
@{ Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Working with Visual Studio</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="panel-body">
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Pasir Ris Friendly (Table Tennis)</h4></div>
        <div class="panel-body">
            <form asp-action="RSVPForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Name:</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ContactNo">Phone:</label>
                    <input asp-for="ContactNo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label> Will you attend?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="True">Yes I'll be there</option>
                        <option value="False">No, I have changed my mind</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>