@{ 
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Volleyball</h3>
        <h4>A game with hot babes and hunks</h4>
        <a class="btn btn-primary" asp-action="RsvpForm">SignUpNow</a>
    </div>
</body>
</html>



